include(default)

[settings]
build_type=Release
compiler.libcxx = {{ {"Linux": "libstdc++11", "Darwin": "libc++"}.get(platform.system()) }}

transport_routing:compiler.cppstd=17
sqlite_utils:compiler.cppstd=17
catch2_extended:compiler.cppstd=17
transport_routing:compiler.cppstd=17

[options]

[build_requires]

[env]
